@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}



:root {
    --primary: #f58a26;
    --white: #ffffff;
    --bg: #f5f5f5;
    --red: #e50914;
    --yellow: #ebe711;
    --black: #141414;
    --red2: #a50c0c;
    --light-gray: #5a4747;
    --dark-gray: #333;
    --gray: #959595;
    --blue: #56c5db;
    --inst: linear-gradient(45deg, #f9a8d4, #d32f2f, #ffb74d, #25D366);
}


html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    color: var(--black);
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #890000, #cd121c);

    
}

main{
    height: 86.5vh;
    display: flex;
}

.container {
    margin-top: 6rem;
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 67vh;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}

form label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.avatar-div {
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
}



.avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.avatar-overlay:hover {
    opacity: 1;
}

.avatar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar-content i {
    font-size: 24px;
    margin-bottom: 5px;
}

.avatar-content span {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


.btn{
    width: 100%;
    padding: 10px;
    background-color: #c00e0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #a50c0c;
}

.link-home{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #cd121c;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-home:hover{
    text-decoration: underline;
}

.user-info i.bx.bxs-user-circle {
    cursor: pointer;
    border-radius: 50%; /* Borda semelhante à imagem */
    background: #f0f0f0; /* Fundo para parecer com a ausência de imagem */
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

header #logo img {
    width: 110px;
    border-radius: 50%;
    margin-left: -4rem;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 40px;
}



.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 15px;

}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 350px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 500px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}



.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    padding-right: 23px;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    color: #525252;
}

.sub-menu-link i {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
    color: #525252;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;

}

#check {
    display: none;
}

.menu {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}


.navbar a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

i.fas.fa-user-circle.avatar-icon {
    font-size: 120px; /* Tamanho do ícone */
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #ccc; /* Borda semelhante à imagem */
    background: #f0f0f0; /* Fundo para parecer com a ausência de imagem */
    text-align: center;
    line-height: 120px; /* Alinha o ícone verticalmente */
}

